
.btn_voltar img {
    width: 30px; 
    height: auto;
    cursor: pointer; 
    transition: box-shadow 0.1s ease, filter 0.1s ease; 
    
    display: flex;
    
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;

    box-shadow: none;
    background: none;
    outline: none;
    border: none;
}

.btn_voltar:hover {
    filter: brightness(1.1); 
}

.btn_voltar:active {
    filter: brightness(0.7); 
}

#text-overlay .btn_voltar{
    width: 100px;
    height: auto;
    cursor: pointer;
    transition: box-shadow 0.1s ease, filter 0.1s ease;
    box-shadow: none;

}

section.container {
    display: flex;
    justify-content: center !important;
    align-items: center;
    height: 100%;
}

#text-overlay {
    width: 500px;
    background-color: rgba(0, 0, 0, 0.5); 
    color: white;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}

form {
    padding: 0 2rem;
}

h1 {
    margin-bottom: 20px; 
}

p {
    margin-bottom: 10px;
}

li{
    margin-bottom: 10px;
}