.bandeirinha {
    width: 50px;
    height: 50px;
}

#text-overlay {
    max-width: 500px;
    max-height: 460px;

    padding: 20px;
    
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    
    border-radius: 10px;
}

#text-overlay .entradaUsuario-box {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-bottom: 20px;
    gap: 10px;
}

.entradaUsuario-box + .entradaUsuario-box {
    margin-top: 1.95rem;
}

.entradaUsuario-box input {
    width: 100%;
    height: 100%;
    border: 2px solid rgb(0, 0, 0);
    font-size: 15px;
    height: 35px;
    padding: 20px 45px 20px 20px;
}

.entradaUsuario-box input::placeholder {
    color: rgb(0, 0, 0);
}

#text-overlay h1 {
    font-size: 40px;
    margin-bottom: 1rem;
}

.link {
    text-decoration: none;
    color: white;
    gap: 5px;
} 

.link:hover {
    text-decoration: underline;
}

.link p + p {
    color: #6bff37;
}

section.container {
    justify-content: center !important;
}

.giftelaprinc {
    position: absolute;
    bottom: 25%;
    right: 15%;
    width: 240px;
    height: auto;
    display: flex;
}